name: "Tests"

on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.composer }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.0', 8.1, 8.2]
        composer: [highest, lowest]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: dom
          coverage: xdebug
          tools: composer:v2

      - uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "${{ matrix.composer }}"

      - name: composer validate
        run: composer validate --strict

      - name: Run unit tests
        run: "./vendor/bin/phpunit --colors=always --coverage-clover build/logs/clover.xml --coverage-text"

      - name: Publish coverage report to Codecov
        uses: "codecov/codecov-action@v3"
  phpstan:
    name: "PHPStan"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: highest

      - name: Run PHPStan
        run: "composer run-script phpstan"
